.cshtml.g.cs
*.dtbcache
*.suo
*.ide
InternetShop/obj/
InternetShop/bin/Debug/
InternetShop/.vs/
*.ide-shm
*.ide-wal
*.runtimeconfig.json
*.runtimeconfig.dev.json
InternetShop.Tests/bin/
InternetShop.Tests/obj/Debug/
InternetShop.Tests/obj/
InternetShop/InternetShop.sln
