<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link asp-href-include="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link asp-href-include="~/css/style.min.css" rel="stylesheet" />
</head>
<body>
    <div>
        @await Component.InvokeAsync("TopBar")
        @RenderBody()
    </div>
</body>
</html>