@model IEnumerable<Order>

<div class="container">
    @await Component.InvokeAsync("Label", new { label = "Заказы" })
    <div class="row">
        <div class="col-12">
            <table class="table table-dark">
                <tr>
                    <th>Номер заказа</th>
                    <th>Дата заказа</th>
                    <th>Статус</th>
                </tr>
                @if (Model.Count() == 0)
                {
                    <tr class="text-center">
                        <td colspan="4" class="text-uppercase no-items">Заказов не найдено</td>
                    </tr>
                }
                else
                {
                    @foreach (var ord in Model)
                    {
                        <tr>
                            <td>@ord.OrderNumber</td>
                            <td>@ord.OrderDate</td>
                            <td>
                                @switch (ord.StatusID)
                                {
                                    case 1:
                                        @:Выполнен
                                        break;
                                    case 2:
                                        @:В процессе
                                        break;
                                    case 3:
                                        @:Новый
                                        break;
                                }
                            </td>
                            <td class="text-right">
                                <form method="post">
                                    @if (ord.StatusID == 3)
                                    {
                                        <a class="btn btn-success" asp-action="ConfirmOrder" asp-route-id="@ord.ID">Подтвердить заказ</a>
                                    }
                                    else if (ord.StatusID == 2)
                                    {
                                        <button type="submit" class="btn btn-danger" asp-action="CloseOrder" asp-route-id="@ord.ID">Закрыть заказ</button>
                                    }
                                </form>
                            </td>
                        </tr>
                    }
                }
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col justify-content-center justify-content-md-start d-flex">
            <a asp-action="Index" asp-controller="PersonalAccount" class="btn btn-primary">Вернуться в личный кабинет</a>
        </div>
    </div>
</div>