@model MainInfo

<div class="container-fluid bg-dark">
    <div class="row p-2">
        <div>
            <h1 class="text-primary">Интернет-магазин. Добро пожаловать!</h1>
        </div>
        <div class="ml-auto align-self-center">
            <!--// TODO: подправить это.-->
            @if(Model.UserName == null)
            {
                <a class="btn btn-primary" asp-action="Login" asp-controller="Account">Войти</a>
            }
            else
            {
                <a class="btn btn-primary" asp-action="Logout" asp-controller="Account">Выйти</a>
            }
        </div>
    </div>
</div>