@model MainInfoViewModel

<div class="container-fluid bg-dark">
    <div class="row p-2">
        <div class="col-12 col-md-7">
            <a class="text-decoration-none" asp-action="Index" asp-controller="Shop"><h1 class="text-primary">Интернет-магазин. Добро пожаловать!</h1></a>
        </div>
        <div class="row col text-white align-content-end">
            <div class="col-12 d-flex justify-content-end">
                <span>У Вас @Model.ProductCount товара(ов) в корзине</span>
            </div>
            <div class="col-12 d-flex justify-content-end">
                <a class="btn btn-secondary mr-1" asp-action="Index" asp-controller="Cart" asp-route-returnUrl="@ViewContext.HttpContext.Request.PathAndQuery()"><i class="fa fa-shopping-cart"></i></a>
                @if (User.Identity.IsAuthenticated)
                {
                    <a class="btn btn-secondary mr-1" asp-action="Index" asp-controller="PersonalAccount"><i class="fa fa-user-circle-o"></i></a>
                    <a class="btn btn-primary" asp-action="Logout" asp-controller="Account">Выйти</a>
                }
                else
                {
                    <a class="btn btn-primary" asp-route-returnUrl="@ViewContext.HttpContext.Request.PathAndQuery()" asp-action="Login" asp-controller="Account">Войти</a>
                }
            </div>
        </div>
    </div>
</div>