<div class="container">
    @await Component.InvokeAsync("Label",  new { label = "Меню" })
    <div class="row justify-content-center">
        <div class="col-4 bg-secondary rounded text-center p-3">
            <a asp-action="Index" asp-controller="Order" class="btn btn-primary">Список заказов</a>
        </div>
    </div>
</div>